@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$pink: #F1DDDF;
$black1: #373737;
$green1: #32BA7C;
$gray1: #696969;


@mixin fontMerriweather ($weight, $size) {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 150%;
}

@mixin fontLora ($weight, $size) {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 140%;
  color: $black1;
}

@mixin fontRoboto ($weight, $size) {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: $black1;
}

.body {
  line-height: 150%;

  &__header {
    padding-top: 64px;
  }
  &__main {
    padding-top: 100px;
  }
  &__list {
    padding-top: 70px;
  }
  &__services {
    padding-top: 100px;
  }
  &__our-team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__request {
    padding-top: 100px;
  }
  &__feedbacks {
    padding-top: 100px;
  }
  &__location {
    padding-top: 100px;
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  background-color: $pink;
  padding-left: 70px;
  padding-right: 70px;
}

.container-full {
  @extend .container;
  padding-left: 0;
  padding-right: 0;
}

.container-padding {
  @extend .container;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
}

.top {
  height: 895px;
  background-image: url('./images/background-for-top.jpg');
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta {
  &__btn {
    border: 2px solid $green1;
    padding: 20px 30px;

    @include fontMerriweather(700, 18px);
  }
}

.logo {
  position: relative;

  &__top {
    @include fontMerriweather(700, 25px);
  }

  &__img {
    position: absolute;
    right: -29px;
    top: -8px;
  }

  &__bottom {
    @include fontMerriweather(400, 12px);
    margin-top: -3px;
  }
}

.menu {
  min-width: 721px;
  display: flex;
  justify-content: space-between;

  &__item {
    @include fontMerriweather(400, 18px);
  }
}

.title {
  text-align: center;
  @include fontLora(500, 36px);
}

.subtitle {
  text-align: center;
  @include fontMerriweather(400, 18px);
  color: $black1;
}

.services {
  &__left, &__right {
    width: 49%;
  }

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }

  &__bottom-left, &__bottom-right {
    width: 48%;
  }
}

.img-tile {
  position: relative;

  &__picture {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  &__text {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding-left: 15px;
    box-sizing: border-box;

    @include fontMerriweather(400, 20px);
  }
  &__text-bold {
    font-weight: 700;
  }
  &__text-right {
    margin-left: auto;
    padding-right: 15px;
    font-weight: 400;
    font-size: 18px;
  }
}

.main {
  display: flex;

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 165px;
    width: 30px;
  }

  &__block {
    padding-left: 60px;
    width: 45%;
  }

  &__title {
    @include fontLora(600, 48px);
    letter-spacing: 0.02em;
  }

  &__text {
    margin-top: 50px;
    @include fontMerriweather(400, 18px);
  }

  &__cta {
    margin-top: 100px;
  }
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  &__item {
    background-image: url('./images/green-tick.svg');
    background-repeat: no-repeat;
    background-position: left top;
    height: 48px;
    padding-left: 45px;

    @include fontMerriweather(400, 18px);
    max-width: 350px;
  }
}

.button {
  background-color: $green1;
  padding: 20px 40px;
  @include fontMerriweather(700, 28px);
  color: white;
  display: inline-block;
}

.our-team {
  &__content {
    display: flex;
  }
  &__gallery {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }
  &__subtitle {
    margin-top: 20px;
    margin-bottom: 55px;
  }
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 70px 0 0;
}

.request {
  height: 680px;
  background-image: url('images/request-block-background.jpg');
  background-repeat: no-repeat;

  &__content {
    display: flex;
  }
  &__form {
    flex: 420px 0 0;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 28px;
  }

  &__info {
    flex: 442px 0 0;
  }
}

.form {
  &__line1, &__line2 {
    @include fontLora(500, 36px);
    line-height: 46px;
    text-align: center;
  }
  &__name {
    margin: 28px 57px 0;
  }
  &__phone {
    margin: 40px 57px 0;
  }
  &__btn {
    background-color: $green1;
    padding: 20px 74px;
    @include fontRoboto(700, 16px);
    line-height: 19px;
    margin: 40px 57px 0;
    color: white;
    display: inline-block;
  }
  &__chkbox {
    margin: 16px 57px 0;
    text-align: center;
  }
}

.field {
  position: relative;
  &__input {
    width: 100%;
    height: 57px;
    padding: 0 10px 0 50px;
    box-sizing: border-box;

    &::placeholder {
      @include fontRoboto(500, 16px);
      line-height: 19px;
      opacity: 0.4;
    }
  }
  &__icon {
    position: absolute;
    top: 17px;
    left: 30px;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &__label {
    @include fontRoboto(400, 12px);
    line-height: 14px;
    margin-left: 7px;
  }
}

.info {
  flex: 420px 0 0;
  padding: 0 20px;

  &__text1 {
    @include fontMerriweather(400, 24px);
  }
  &__text2 {
    margin-top: 35px;
    @include fontMerriweather(400, 24px);
  }
  &__list {
    flex-direction: column;
  }

  .list__item {
    max-width: none;
    margin-top: 35px;
  }
}

.feedbacks {
  &__content {
    display: flex;
    margin-top: 60px;
  }
  &__gallery {
    display: flex;
    flex: 1 1 auto;
    gap: 20px;
  }
}

.feedback {
  background-color: white;

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 55px 50px 30px;
  }
  &__icon {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    margin-left: 30px;
    @include fontMerriweather(700, 20px);
  }
  &__text {
    margin: 0 50px 35px 54px;
    @include fontMerriweather(400, 20px);
    color: $black1;
  }
}