@mixin arrow() {
  position: absolute;
  display: flex;
  align-items: center;
}
@mixin arrow-desktop() {
  @include arrow();
  justify-content: center;
  top: 0;
  height: 100%;
  width: 70px;
}
@mixin arrow-tablet() {
  @include arrow();
  top: unset;
  bottom: 0;
  height: $arrow-container-height-tablet;
  width: 50%;
}

.arrow-left {
  @include arrow-desktop();
  left: -70px;
}
.arrow-right {
  @include arrow-desktop();
  right: -70px;
}

@media (max-width: $breakpoint-tablet-max) {
  .arrow-left {
    @include arrow-tablet();
    left: 0;
    justify-content: end;
    margin-left: -30px;
    opacity: 0.7;
  }
  .arrow-right {
    @include arrow-tablet();
    right: 0;
    justify-content: start;
    margin-right: -30px;
  }
}