.burger-icon {
  &:hover {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-tablet-middle + 1) {
    display: none;
  }
  @media (max-width: $breakpoint-tablet-middle) {
    display: block;
  }
}