@import "../mixins/fontRoboto";

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &__field {
    width: 11px;
    accent-color: $green1;
  }
  &__label {
    @include fontRoboto(400, 12px);
    line-height: 14px;
    margin-left: 7px;
  }
}