@import "../mixins/fontMerriweather";

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &__field {
    width: 11px;
  }
  &__label {
    @include fontMerriweather(400, 12px);
    line-height: 15px;
    margin-left: 7px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}