@import "../mixins/fontMerriweather";

.cta {
  text-decoration: none;
  color: inherit;

  &__btn {
    border: 2px solid $green1;
    padding: 20px 30px;
    @include fontMerriweather(700, 18px);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: black;
        color: $green1;
      }
    }
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}