.face {
  display: flex;
  justify-content: end;
  align-items: center;

  &__picture {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: $breakpoint-mobile-max) {
    display: none;
  }
}
