@import "../mixins/fontMerriweather";

.feedback {
  background-color: white;
  padding: 55px 35px 55px 50px;

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__icon {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    margin-left: 30px;
    @include fontMerriweather(700, 20px);
  }
  &__text {
    margin: 30px 0 0;
    @include fontMerriweather(400, 20px);
    color: $black1;
  }
}