.feedbacks-gallery {
  position: relative;
  display: flex;
  gap: 20px;

  @media (max-width: $breakpoint-tablet-max) {
    padding-bottom: $arrow-container-height-tablet;
  }

  @media (max-width: $breakpoint-mobile-max) {
    &__item:nth-child(2) {
      display: none;
    }
  }
}