@import "../mixins/fontMerriweather";

.feedback {
  background-color: white;
  padding: 55px 35px 55px 50px;
  flex-basis: 100%; //to make items the same width

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__icon {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    margin-left: 30px;
    @include fontMerriweather(700, 20px);
  }
  &__text {
    margin-top: 30px;
    @include fontMerriweather(400, 20px);
    color: $black1;
  }

  @media (max-width: $breakpoint-mobile-max) {
    &:nth-child(2) {
      display: none;
    }
  }
}