@import "../mixins/fontMerriweather";

.footer {
  background: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%);

  &__top {
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    margin-top: 25px;
    display: flex;
    @include fontMerriweather(400, 18px);
  }
  &__menu-col {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__contact {
    text-align: right;
    font-weight: 900;
  }
  &__menu-item {
    padding-right: 53px;
  }
  &__hr {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  &__bottom {
    display: flex;
    padding: 40px 0;
    @include fontMerriweather(400, 18px);
  }
  &__bottom-item {
    flex: 0 0 25%;
  }

  @media (max-width: $breakpoint-mobile-max) {
    &__menu {
      flex-direction: column;
    }
    &__menu-item {
      padding-right: 0;
    }
    &__menu-col {
      margin-bottom: 25px;
    }
    &__bottom {
      flex-direction: column;
      gap: 25px;
      padding: 25px 0;
    }
    &__bottom-item:nth-child(3) {
      display: none;
    }
    &__bottom-item {
      flex: none;
    }
  }
}