@import "../vars";

.header {
  &__content {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__content {
      height: 90px;
    }
  }
  @media (max-width: $breakpoint-mobile-max) {
    &__cta {
      display: none;
    }
  }
}