@import "../mixins/fontMerriweather";

.info {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  &__text1 {
    @include fontMerriweather(400, 24px);
  }
  &__text1-strong {
    font: inherit;
  }
  &__text2 {
    margin-top: 35px;
    @include fontMerriweather(400, 24px);
  }
  &__text2-strong {
    font: inherit;
  }
  &__list {
    flex-direction: column;
  }
  &__list-item {
    margin-top: 35px;
  }
  &__list-item-strong {
    font: inherit;
  }
  @media (max-width: $breakpoint-mobile-max) {
    padding-left: $indent-container-mobile;
    padding-right: $indent-container-mobile;

    &__list-item {
      max-width: none;
    }
  }
}