@import "../mixins/fontMerriweather";

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  &__item {
    background-image: url('../images/icons/green-tick.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 50px;
    min-height: 31px;
    @include fontMerriweather(400, 18px);
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__item {
      padding-left: 40px;
    }
  }
}