@import "../mixins/fontMerriweather";

.logo {
  width: 78px;
  height: 90px;
  text-decoration: none;
  color: inherit;
  align-self: center;

  &__img {
    width: 76px;
    height: 76px;
  }
  &__text {
    @include fontMerriweather(700, 14px);
    line-height: 0;
  }

  @media (max-width: $breakpoint-tablet-middle) {
    height: 74px;

    &__img {
      width: 60px;
      height: 60px;
    }
    &__text {
      font-size: 11px;
    }
  }
}