@import "../mixins/fontMerriweather";

.menu {
  margin: 0 -25px;
  display: flex;
  justify-content: space-between;

  &__item {
    margin: 0 25px;
    @include fontMerriweather(400, 18px);
  }
  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: $breakpoint-tablet-max) {
    margin: 0 -15px;

    &__item {
      margin: 0 15px;
    }
  }
  @media (max-width: $breakpoint-tablet-middle) {
    display: none;
  }
}