@import "../mixins/fontMerriweather";
@import "../components/socials";

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $pink;
  z-index: 1;
  overflow: auto;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  &__header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D8C4CF;
  }
  &__close-wrapper {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__close {
    display: block;
  }
  &__cta {
    margin-top: 40px;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-top: 50px;
    @include fontMerriweather(400, 16px);
    text-transform: uppercase;
  }
  &__socials {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 165px;
  }
}