@import "../mixins/fontMerriweather";

.tile {
  position: relative;

  &__picture {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__text {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding-left: 15px;
    box-sizing: border-box;
    @include fontMerriweather(400, 20px);
  }
  &__text-bold {
    font-weight: 700;
  }
  &__text-right {
    margin-left: auto;
    padding-right: 15px;
    font-weight: 400;
    font-size: 18px;
  }
}