@import "../mixins/fontLora";
@import "../mixins/fontMerriweather";

$indent-between-title-and-content-desktop: 60px;
$indent-between-title-and-content-tablet: 40px;
$indent-between-title-and-content-mobile: 30px;

.title {
  text-align: center;
  margin-bottom: $indent-between-title-and-content-desktop;

  &__text1 {
    margin: 0;
    @include fontLora(500, 36px);
  }
  &__text2 {
    margin-top: 20px;
    margin-bottom: 0;
    @include fontMerriweather(400, 18px);
  }

  @media (max-width: $breakpoint-tablet-max) {
    margin-bottom: $indent-between-title-and-content-tablet;
  }
  @media (max-width: $breakpoint-mobile-max) {
    margin-bottom: $indent-between-title-and-content-mobile;
  }
}