@import "../mixins/fontLora";
@import "../mixins/fontMerriweather";
@import "../mixins/button";

.top {
  height: 895px;
  background-image: url('images/background-for-top.jpg');
  background-repeat: no-repeat;
  background-position: top center;

  &__main {
    padding-top: 100px;
    display: flex;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 165px;
    width: 30px;
  }
  &__block {
    padding-left: 60px;
    width: 45%;
  }
  &__title {
    @include fontLora(600, 48px);
    letter-spacing: 0.02em;
  }
  &__text {
    margin-top: 50px;
    @include fontMerriweather(400, 18px);
  }
  &__btn {
    margin-top: 100px;
    @include button(389px, 82px);
    @include fontMerriweather(700, 28px);
  }
  &__list {
    padding-top: 70px;
  }
  &__list-item {
    max-width: 350px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__main {
      padding-top: 50px;
    }
  }

  @media (max-width: $breakpoint-tablet-middle) {
    height: 476px;
    background-image: url('images/background-for-top-tablet.jpg');

    &__main {
      padding-top: 25px;
    }
    &__socials {
      display: none;
    }
    &__block {
      padding-left: 0;
      width: 66%;
    }
    &__title {
      @include fontLora(600, 30px);
    }
    &__text {
      margin-top: 14px;
    }
    &__btn {
      margin-top: 21px;
      @include button(262px, 61px);
      @include fontMerriweather(700, 14px);
    }
    &__list {
      padding-top: 40px;
    }
  }
}