@import "../mixins/fontLora";
@import "../mixins/fontMerriweather";
@import "../mixins/button";

.top {
  &__content {
    padding-top: 55px;
    padding-bottom: 110px;
  }
  &__main {
    display: flex;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 165px;
    width: 30px;
  }
  &__block {
    padding-left: 60px;
  }
  &__title1, &__title2 {
    @include fontLora(600, 48px);
    letter-spacing: 0.02em;
  }
  &__text {
    margin-top: 50px;
    @include fontMerriweather(400, 18px);
  }
  &__btn {
    margin-top: 100px;
    @include button(389px, 82px);
    @include fontMerriweather(700, 28px);
  }
  &__list {
    padding-top: 75px;
  }
  &__list-item {
    max-width: 350px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__content {
      padding-top: 24px;
      padding-bottom: 60px;
    }
    &__block {
      padding-left: 135px;
    }
    &__title1, &__title2 {
      @include fontLora(600, 30px);
    }
    &__text {
      margin-top: 30px;
    }
    &__btn {
      margin-top: 50px;
    }
    &__list {
      padding-top: 50px;
    }
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__content {
      padding-top: 0;
    }
    &__main {
      padding-top: 25px;
    }
    &__socials {
      display: none;
    }
    &__block {
      padding-left: 0;
    }
    &__title {
      @include fontLora(600, 30px);
    }
    &__text {
      margin-top: 20px;
    }
    &__btn {
      margin-top: 20px;
      @include button(262px, 61px);
      @include fontMerriweather(700, 14px);
    }
    &__list {
      padding-top: 55px;
    }
  }
  @media (max-width: $breakpoint-mobile-max) {
    &__btn {
      width: 100%;
    }
    &__list {
      padding-top: 30px;
      flex-direction: column;
    }
    &__list-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}