@import "../mixins/fontMerriweather";

@mixin button($padding, $fontSize) {
  border: none;
  background-color: $green1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  line-height: 150%;
  @include fontMerriweather(700, $fontSize);
}