@import "../mixins/fontMerriweather";

@mixin button($padding, $fontSize) {
  border: none;
  background-color: $green1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  line-height: 150%;
  @include fontMerriweather(700, $fontSize);
  color: white;
  border: 2px solid $green1;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 2px solid black;
      cursor: pointer;
      color: $green1;
      background-color: white;
    }
  }
}