@import "../vars";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');

@mixin fontLora ($weight, $size) {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 140%;
  color: $black1;
}