@import "../vars";

@mixin fontMerriweather ($weight, $size) {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 150%;
  color: $black1;
}