@import "../vars";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@mixin fontMerriweather ($weight, $size) {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 150%;
  color: $black1;
}