@mixin slider() {
  .splide {
    &__arrow {
      opacity: 1;
      width: 40px;
      height: 40px;
    }
    &__arrow--prev {
      left: -55px;
      background: url(../images/icons/arrow-left.svg);
      // to enable hover effect only in browser, not while tapping on mobile devices
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: url(../images/icons/arrow-left-hover.svg);
          opacity: 1;
        }
      }
    }
    &__arrow--next {
      right: -55px;
      background: url(../images/icons/arrow-right.svg);
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: url(../images/icons/arrow-right-hover.svg);
          opacity: 1;
        }
      }
    }

    @media (max-width: $breakpoint-tablet-max) {
      &__arrows {
        height: $arrow-container-height-tablet;
        position: relative;
      }
      &__arrow--prev {
        top: 60px;
        left: calc(50% - 70px);
      }
      &__arrow--next {
        top: 60px;
        right: calc(50% - 70px);
      }
    }
    @media (max-width: $breakpoint-mobile-max) {
      &__arrows {
        height: $arrow-container-height-mobile;
      }
      &__arrow--prev {
        top: 50px;
      }
      &__arrow--next {
        top: 50px;
      }
    }
  }
}