@mixin slider() {
  .splide {
    &__arrow {
      opacity: 1;
      width: 40px;
      height: 40px;
    }
    &__arrow--prev {
      left: -55px;
      background: url(../images/icons/arrow-left.svg);
    }
    &__arrow--next {
      right: -55px;
      background: url(../images/icons/arrow-right.svg);
    }

    @media (max-width: $breakpoint-tablet-max) {
      &__arrows {
        height: $arrow-container-height-tablet;
        position: relative;
      }
      &__arrow--prev {
        top: 70px;
        left: calc(50% - 70px);
      }
      &__arrow--next {
        top: 70px;
        right: calc(50% - 70px);
      }
    }
  }
}