@import "../reset";
@import "../vars";

@import "../mixins/fontMerriweather";
@import "../mixins/fontLora";
@import "../mixins/fontRoboto";
@import "../mixins/button";

@import "../components/container";
@import "../components/header";
@import "../components/logo";
@import "../components/menu";
@import "../components/cta";
@import "../components/title";
@import "../components/subtitle";
@import "../components/tile";
@import "../components/form";
@import "../components/list";
@import "../components/arrow-container";
@import "../components/field";
@import "../components/checkbox";
@import "../components/feedback";
@import "../components/contacts";
@import "../components/footer";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.body {
  line-height: 150%;

  &__services {
    padding-top: 100px;
  }
  &__our-team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__request {
    padding-top: 100px;
  }
  &__feedbacks {
    padding-top: 100px;
  }
  &__location {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
}

.top {
  height: 895px;
  background-image: url('images/background-for-top.jpg');
  background-repeat: no-repeat;

  &__main {
    padding-top: 100px;
  }
  &__list {
    padding-top: 70px;
  }
  &__list-item {
    max-width: 350px;
  }
}

.services {
  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__left, &__right {
    flex: 1 1 50%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }

  &__bottom-left, &__bottom-right {
    flex: 1 1 50%;
  }

  &__left-img {
    max-height: 670px;
  }
}

.main {
  display: flex;

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 165px;
    width: 30px;
  }

  &__block {
    padding-left: 60px;
    width: 45%;
  }

  &__title {
    @include fontLora(600, 48px);
    letter-spacing: 0.02em;
  }

  &__text {
    margin-top: 50px;
    @include fontMerriweather(400, 18px);
  }

  &__btn {
    margin-top: 100px;
    @include button(389px, 82px);
    @include fontMerriweather(700, 28px);
  }
}

.our-team {
  &__content {
    display: flex;
  }
  &__gallery {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__subtitle {
    margin-top: 20px;
    margin-bottom: 55px;
  }
}

.request {
  height: 680px;
  background-image: url('images/request-block-background.jpg');
  background-repeat: no-repeat;

  &__content {
    display: flex;
  }
}

.info {
  flex: 0 0 420px;
  padding: 0 20px;

  &__text1 {
    @include fontMerriweather(400, 24px);
  }
  &__text2 {
    margin-top: 35px;
    @include fontMerriweather(400, 24px);
  }
  &__list {
    flex-direction: column;
  }
  &__list-item {
    margin-top: 35px;
  }
}

.feedbacks {
  &__content {
    display: flex;
    margin-top: 60px;
  }
  &__gallery {
    display: flex;
    flex: 1 1 auto;
    gap: 20px;
  }
}

.location {
  &__img {
    display: block;
  }
  &__contacts {
    position: absolute;
    top: 220px;
    right: 87px;
  }
}