// common scss
@import "../vars";
@import "../container";
//import 3rd party css
@import "../../../node_modules/@splidejs/splide/dist/css/splide.min";
// scss blocks
@import "../blocks/header";
@import "../blocks/top-block";
@import "../blocks/services";
@import "../blocks/team";
@import "../blocks/request";
@import "../blocks/feedbacks";
@import "../blocks/location";
@import "../blocks/footer";

.body {
  &__team {
    padding-bottom: $indent-between-blocks-desktop;
  }

  &__location {
    padding-bottom: $indent-between-blocks-desktop;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__team {
      padding-bottom: 0;
    }
    &__location {
      padding-top: 0;
      padding-bottom: $indent-between-blocks-tablet;
    }
  }
  @media (max-width: $breakpoint-mobile-max) {
    &__location {
      padding-bottom: $indent-between-blocks-mobile;
    }
  }
}