@import "../reset";
@import "../vars";

@import "../mixins/fontMerriweather";
@import "../mixins/fontLora";
@import "../mixins/button";

@import "../components/container";
@import "../components/top";
@import "../components/burger-icon";
@import "../components/header";
@import "../components/link";
@import "../components/logo";
@import "../components/menu";
@import "../components/cta";
@import "../components/face";
@import "../components/title";
@import "../components/subtitle";
@import "../components/grid";
@import "../components/tile";
@import "../components/gallery";
@import "../components/arrows";
@import "../components/form";
@import "../components/info";
@import "../components/list";
@import "../components/field";
@import "../components/checkbox";
@import "../components/feedback";
@import "../components/contacts";
@import "../components/footer";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.body {
  background-color: $pink;
  line-height: 150%;

  &__services {
    padding-top: 100px;
  }
  &__team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__feedbacks {
    padding-top: 100px;
  }
  &__location {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__team {
      padding-top: 50px;
      padding-bottom: $arrow-container-height-tablet;
    }
    &__feedbacks {
      padding-top: 50px;
      padding-bottom: $arrow-container-height-tablet;
    }
    &__location {
      padding-top: 0;
    }
  }
}

.services {
  &__grid {
    margin-top: 60px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__grid {
      margin-top: 50px;
    }
  }
}

.team {
  &__subtitle {
    margin-top: 20px;
  }
  &__gallery {
    margin-top: 60px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__gallery {
      margin-top: 50px;
    }
  }
}

.request {
  &__content {
    position: relative;
    padding-top: 120px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__content {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__form {
      display: none;
    }
  }
}

.form-mobile {
  @media (min-width: $breakpoint-tablet-max + 1) {
    display: none;
  }
  @media (max-width: $breakpoint-tablet-max) {
    display: flex;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: white;
  }
}

.feedbacks {
  &__content {
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 60px;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__content {
      margin-top: 50px;
    }
  }
}

.location {
  &__content {
    position: relative;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__contacts {
    position: absolute;
    top: 15%;
    right: 0;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__contacts {
      right: 0;
    }
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__contacts {
      position: static;
      margin-left: -$indent-container-mobile;
      width: calc(100% + #{2 * $indent-container-mobile});
      margin-top: 66px;
    }
  }
}