@import "../mixins/fontMerriweather";
@import "../components/logo";
@import "../components/cta";
@import "../components/link";

$indent-internal-footer-desktop: 40px;
$indent-internal-footer-tablet: 30px;

.footer {
  padding-top: $indent-internal-footer-desktop;
  padding-bottom: $indent-internal-footer-desktop;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  &__menu {
    margin-top: 40px;
    display: flex;
    @include fontMerriweather(400, 18px);
  }
  &__menu-col {
    margin: 0;
    list-style-type: none;
    padding: 0;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__contact-wrapper {
    text-align: right;
    font-weight: 900;
  }
  &__contact {
    text-decoration: none;
    color: inherit;
  }
  &__menu-item {
    padding-right: 53px;
  }
  &__hr {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  &__bottom {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: $indent-internal-footer-desktop 0 0;
    @include fontMerriweather(400, 18px);
  }
  &__bottom-item {
    flex: 0 0 25%;
  }

  @media (max-width: $breakpoint-tablet-max) {
    padding-top: $indent-internal-footer-tablet;
    padding-bottom: $indent-internal-footer-tablet;

    &__bottom {
      padding-top: $indent-internal-footer-tablet;
    }
  }
  @media (max-width: $breakpoint-tablet-middle) {
    &__top {
      height: 74px;
    }
    //hack to avoid overlapping
    &__contact-wrapper {
      font-size: 16px;
    }
  }
  @media (max-width: $breakpoint-mobile-max) {
    &__menu {
      flex-direction: column;
    }
    &__menu-item {
      padding-right: 0;
    }
    &__menu-col:not(:last-child) {
      margin-bottom: 25px;
    }
    &__bottom {
      padding-top: 25px;
      flex-direction: column;
      gap: 25px;
    }
    &__bottom-item:nth-child(3) {
      display: none;
    }
    &__bottom-item {
      flex: none;
    }
    &__contact-wrapper {
      font-size: 18px;
    }
  }
}