@import "../components/burger-icon";
@import "../components/link";
@import "../components/logo";
@import "../components/menu";
@import "../components/cta";
@import "../components/menu-mobile";

.header {
  padding-top: 0;
  padding-bottom: 0;

  &__content {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__content {
      height: 90px;
    }
  }
  @media (max-width: $breakpoint-mobile-max) {
    &__cta {
      display: none;
    }
  }
}