@import "../vars";
@import "../components/contacts";

.location {
  &__content {
    position: relative;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__contacts {
    position: absolute;
    top: 15%;
    right: 0;
  }

  @media (max-width: $breakpoint-tablet-max) {
    &__contacts {
      right: 0;
    }
  }

  @media (max-width: $breakpoint-tablet-middle) {
    &__contacts {
      position: static;
      width: 100%;
      margin-top: 60px;
    }
  }
}