@import "vars";

$indent-container-desktop: 70px;
$indent-container-mobile: 16px;

$indent-internal-for-100width-blocks-desktop: 80px;
$indent-internal-for-100width-blocks-tablet: 60px;
$indent-internal-for-100width-blocks-mobile: 40px;

@mixin container($indent: $indent-container-desktop){
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: $indent;
  padding-right: $indent;

  @media (max-width: $breakpoint-tablet-max) {
    padding-left: $indent-container-mobile;
    padding-right: $indent-container-mobile;
  }
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  background-color: $pink;
  line-height: 150%;
}

.container {
  @include container();

  @media (max-width: $breakpoint-mobile-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.container_indent-top {
  padding-top: $indent-between-blocks-desktop;

  @media (max-width: $breakpoint-tablet-max) {
    padding-top: $indent-between-blocks-tablet;
  }
  @media (max-width: $breakpoint-mobile-max) {
    padding-top: $indent-between-blocks-mobile;
  }
}

.container-full {
  background: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%);
  width: 100%;
  padding-top: $indent-internal-for-100width-blocks-desktop;
  padding-bottom: $indent-internal-for-100width-blocks-desktop;

  @media (max-width: $breakpoint-tablet-max) {
    padding-top: $indent-internal-for-100width-blocks-tablet;
    padding-bottom: $indent-internal-for-100width-blocks-tablet;
  }
  @media (max-width: $breakpoint-mobile-max) {
    padding-top: $indent-internal-for-100width-blocks-mobile;
    padding-bottom: $indent-internal-for-100width-blocks-mobile;
  }

  &__inner {
    @include container();
  }
}

.hidden {
  display: none !important;
}

.no-overflow-js {
  overflow-y: hidden;
}