$pink: #F1DDDF;
$black1: #373737;
$green1: #32BA7C;
$green2: #69CF73;
$gray1: #696969;

$breakpoint-tablet-max: 1279px;
$breakpoint-tablet-middle: 990px;
$breakpoint-mobile-max: 767px;

$indent-container-desktop: 70px;
$indent-container-mobile: 20px;

$arrow-container-height-desktop: 515px;
$arrow-container-height-tablet: 140px;