$pink: #F1DDDF;
$black1: #373737;
$green1: #258359;
$gray1: #696969;

$breakpoint-tablet-max: 1279px;
$breakpoint-tablet-middle: 1023px;
$breakpoint-mobile-max: 767px;

$indent-between-blocks-desktop: 100px;
$indent-between-blocks-tablet: 60px;
$indent-between-blocks-mobile: 40px;

$arrow-container-height-desktop: 515px;
$arrow-container-height-tablet: 140px;
$arrow-container-height-mobile: 110px;